<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iprismech.alertnikkiresidence">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:theme="@style/AppTheme.NoActionBar" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IntroScreensActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SignupActivity" />
        <activity android:name=".activity.OtpVerificationActivity" />
        <activity android:name=".activity.PasscodeActivity" />
        <activity android:name=".activity.InviteGuestActivity" />
        <activity android:name=".activity.PickContactsActivity" />
        <activity android:name=".activity.ViewInviteGuestActivity" />
        <activity android:name=".activity.GuestEditActivity" />
        <activity android:name=".activity.SelectCityActivity" />
        <activity android:name=".activity.SelectSocietyActivity" />
        <activity android:name=".activity.AddStaffActivity" />
        <activity android:name=".activity.ChooseMaidActivity" />
        <activity android:name=".activity.MyStaffAlerts" />
        <activity android:name=".activity.StaffProfileActivity" />
        <activity android:name=".activity.StaffStandardTimingActivity" />
        <activity android:name=".activity.notifygate.NotifyGateMainActivity" />
        <activity android:name=".activity.notifygate.GateServicesActivity" />
        <activity android:name=".activity.notifygate.EditGateAlertActivity" />
        <activity android:name=".activity.schoolbus.SchoolBus_MainActivity" />
        <activity android:name=".activity.schoolbus.SelectSchoolActivity" />
        <activity android:name=".activity.schoolbus.BusRouteActivity" />
        <activity android:name=".activity.schoolbus.AddBusActivity" />
        <activity android:name=".activity.schoolbus.BushistoryActivity" />
        <activity android:name=".activity.profile.ProfileActivity" />
        <!--
                <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:theme="@style/AppTheme.NoActionBar" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        -->
        <!-- </activity> -->


        <!-- <activity android:name=".activity.StaffStandardTimingActivity" /> -->
        <activity android:name=".activity.KidsGateAlertActivity" />
        <activity android:name=".activity.AddKidActivity" />
        <activity android:name=".activity.LocalServiceActivity" />
        <activity android:name=".activity.ChooseLocalServiceActivity" />
        <activity android:name=".activity.LocalServiceContactDetails" />
        <activity android:name=".activity.MaidStaffAttendanceHistory" />
        <activity android:name=".activity.NoticeBoardActivity" />
        <activity android:name=".activity.EmergencyContactActivity" />
        <activity android:name=".activity.ManagementCommitteActivity" />
        <activity android:name=".activity.DigitalInterComSettingsActivity" />
        <activity android:name=".activity.ContactUsActivtiy" />
        <activity android:name=".activity.VisitorsHistoryActivity" />
        <activity android:name=".activity.MaidAttendanceHistory" />
        <activity android:name=".activity.profile.FamilyMembersActivity" />
        <activity android:name=".activity.profile.AddFamilyActivity" />
        <activity android:name=".activity.profile.ContactSingleActivity" />
        <activity android:name=".activity.MaidViewAllAttandancesHistory" />
        <activity android:name=".activity.SelectBuildingActvity" />
        <activity android:name=".activity.SelectFlatActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".activity.SOSActivity" />
        <activity android:name=".activity.profile.AddVehicleActivity"></activity>
    </application>

</manifest>